

#wishlist{
    padding: 60px 0;
    margin-top: 10rem;
    box-shadow: 0px 0px 12px 0px rgba(0, 0, 0, 0.1); 
}
.wishlist-table{
    background-color: #343434;
    width: 100%;
    margin-bottom: 0;
    border-bottom: 0;
    caption-side: bottom;
    border-collapse: collapse;
    color: #afafaf;
    vertical-align: top;
    border-color: #2d2d2d;
}
.wishlist-table thead {
   
    vertical-align: bottom;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
    
}
.wishlist-table  td, th {
    border-bottom: 1px solid #afafaf;
    border-right: 1px solid #2d2d2d;
}

.wishlist-table thead th {
    white-space: nowrap;
    color: #e8e8e8;
    text-transform: uppercase;
    font-weight: 500;
    padding: 2rem 1.5rem;
}

.wishlist-table tbody {
    vertical-align: inherit;
    border-color: inherit;
    border-style: solid;
    border-width: 0;
}
.wishlist-table tbody td {
    padding: 2rem 1.5rem;
}